- if (messages) {
- 	for(var type in messages) {
			- var alertClass = 'alert ' + type + ' alert-dismissable';
			div(class=alertClass)
				button(type='button', class='close', data-dismiss='alert', aria-hidden='true') &times;
				= messages[type]
-		}
- }