extends ../layout

block content
	h1= title

	include links
	include import

	p
		a(href=controllerPath + 'new') New entry

	table
			thead
				tr
					include thead
			tbody
			- readings.forEach(function(reading) {
				tr
					include tbody
					td
						form(action=controllerPath + encodeURIComponent(reading._id), method='GET')
							input(type='submit', value='Edit')									
					td
						form(action=controllerPath + encodeURIComponent(reading._id), method='POST')
							input(name='_method', type='hidden', value='DELETE')
							input(type='submit', value='Delete')					
			- });		

	include paging