extends ../layout

block content
	h1= title

	- var actionPath = reading ? '/' + encodeURIComponent(reading._id) : '';

	form(method='POST', action=controllerPath + actionPath)
		include inputs

		p
			input(type='submit', value='Save')

		- if (reading) {
			input(name='_method', type='hidden', value='PUT')
		-	}