.axis path,
.axis line {
  fill: none;
  stroke: lightgrey;
  shape-rendering: crispEdges;
  opacity: 0.5;

}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

svg {
  font: 10px sans-serif;
}

#slider {
	width: 1000px;
}