script(src='/javascripts/d3.min.js')
script(src='/javascripts/d3.tip.v0.6.3.js')

div(id='barChart')

script.
	$(document).ready(function() {
		round = function(number, precision) {
			precision = typeof precision !== 'undefined' ? precision : 2;

			return number ? parseFloat(Math.round(number * 100) / 100).toFixed(precision) : null;
		};

		var margin = {top: 40, right: 20, bottom: 30, left: 40},
				width = 420 - margin.left - margin.right,
				height = 250 - margin.top - margin.bottom;

		var x0 = d3.scale.ordinal()
				.rangeRoundBands([0, width], .1);
		var x1 = d3.scale.ordinal();

		var y = d3.scale.linear()
				.range([height, 0]);

		var color = d3.scale.ordinal()
				.range(["#98abc5", "#8a89a6"]);

		var xAxis = d3.svg.axis()
				.scale(x0)
				.orient('bottom');

		var yAxis = d3.svg.axis()
				.scale(y)
				.orient('left');

		var tip = d3.tip()
			.attr('class', 'd3-tip')
			.offset([-10, 0])
			.html(function(d) {
				return "<strong>" + d.name + "</strong> <span style='color:red'>" + round(d.value) + "</span>";
			});

		var svg = d3.select('#barChart').append('svg')
				.attr('width', width + margin.left + margin.right)
				.attr('height', height + margin.top + margin.bottom)
			.append('g')
				.attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

		svg.call(tip);

		d3.json('/heatingCosts/json', function(error, data) {
			if (error) {
				console.warn(error);
			}
			data = data.reverse();

			var invoicesNames = d3.keys(data[0]).filter(function(key) { return key != '_id'; });

			x0.domain(data.map(function(d) { return d._id; }));
			x1.domain(invoicesNames).rangeRoundBands([0, x0.rangeBand()]);
			y.domain([0, d3.max(data, function(d) { return d3.max(d.invoices, function(d) { return d.value; }); })]);

			svg.append('g')
					.attr('class', 'x axis')
					.attr('transform', 'translate(0,' + height + ')')
					.call(xAxis);

			svg.append('g')
					.attr('class', 'y axis')
					.call(yAxis)
				.append('text')
					.attr('transform', 'rotate(-90)')
					.attr('y', 6)
					.attr('dy', '.71em')
					.style('text-anchor', 'end')
					.text('Faktury');

			var year = svg.selectAll('.year')
					.data(data)
				.enter().append('g')
					.attr('class', 'g')
					.attr('transform', function(d) {return 'translate(' + x0(d._id) + ',0)'; });

			year.selectAll('rect')
					.data(function(d) { return d.invoices; })
				.enter().append('rect')
					.attr('width', x1.rangeBand())
					.attr('x', function(d) { return x1(d.name); })
					.attr('y', function(d) { return y(d.value); })
					.attr('height', function(d) { return height - y(d.value); })
					.style('fill', function(d) { return color(d.name); })
					.on('mouseover', tip.show)
					.on('mouseout', tip.hide);
		});

	});